* {
    background-color: indianred;
}

img {
    width:150px;
    border-radius: 15%;
    border: 2px solid darkcyan;
    margin-right: 30px;
    
}

.headings {
    text-align: center;
    font-family: Geneva;
}

a {
    font-size: 22px;
    font-family: sans-serif;
    margin: 10px
    
}

li {
    color: black;
    font-family: Geneva;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: Geneva;
}

.flex-container div {
    padding: 8px;
    border: 2px solid pink;
    border-radius: 20%;
    
}

.aqua {
    background-color: darkseagreen;
}



.flex-container2 {
    display: block;
    justify-content: flex-start;
    padding: 20px;
    border-bottom: 5px dotted purple;
    position: relative;
    bottom: 10px;
    width: 11000px;
    right: 10px;
    
}

.list-size {
    width: 150px
}

.links {
    text-align: center;
    margin: 0;
}

footer {
    border: 2px solid darkcyan;
    margin: 10px;
    padding: 5px;
    width: fit-content;
    border-radius: 10%;
    
}

.flex-container3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly ;
    align-items: baseline;
}

.top {
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 0;
    border-bottom: 5px dotted black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 81.5px;
    align-items: center;
}


 
body {
    margin: 0;
}

.button {
    background-color: darkseagreen;
    width: fit-content;
    border: 2px solid black;
    padding: 4px;
    border-radius:10%;
    font-family: Geneva;
    margin: 10px;
}